@import "../lib/variables";

.pizza_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.pizza_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 409px;
  border-radius: 20px;
  box-shadow: 0px 0px 16px #75768426;
  margin: 30px 29px;
  img {
    padding-top: 15px;
  }
  h4 {
    text-align: center;
    color: $grey;
    padding: 15px;
  }
}
.pizza_selector_wrapper {
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;
  width: 90%;
  color: $black;
  font-weight: bold;
  ul {
    flex: 1;
    display: flex;
    text-align: center;
    &:first-of-type {
      margin-bottom: 6px;
    }
    li {
      border-radius: 8px;
      box-shadow: 0px 0px 4px #00000026;
      padding: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      flex: 1;
      margin-right: 5px;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      &.active {
        background-color: white;
        cursor: auto;
      }
      &:last-child {
        margin-right: 0px;
      }
      transition: 0.1s ease-out;
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
.pizza_add_wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  p {
    color: $black;
    font-weight: bold;
    margin: 15px 0px 15px 15px;
  }
  button {
    background-color: $red;
    border-radius: 50px;
    font-weight: 500;
    padding: 12px 20px 15px 20px;
    color: white;
    margin: 15px 15px 15px 0px;
    transition: 0.2s ease-out;
    &:active {
      transform: scale(0.8);
    }
  }
}
