@import "lib/fonts";
@import "lib/variables";
@import "lib/normalize";
@import "components/all";

body {
  background-color: $background;
}

.wrapper {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 20;
  justify-content: center;
}
